.tabs{
    background-color: #C0CCDA ;
    width: 360px;
    display: block;
    align-content: center;
    clear: both; 
}
.tabs>.ui.secondary.inverted.pointing.menu{
    display: flex;
    flex-direction: row; 
     justify-content: space-between;
    border:none;

}
.tabs>.ui.secondary.inverted.pointing.menu>.item{
    justify-content: center;
}
.tabs>.ui.secondary.inverted.pointing.menu .active.item{
    border-color: grey;
}
