.footer{
   width: 360px;
   border: none;
   justify-content: center;
   display: flex;
   flex-direction: row;
   position:fixed;
   bottom:0;
   width:100%;
}

.btn{
   background: #fff;
   background-color: none;
   display: flex;
   padding: 0 30px;
   cursor: pointer;
   color:gray;
}

 