.card{
    width : 360px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imgcard{
    width: 360px;
    height: 360px;
    border-bottom: 13px solid #C0CCDA;
    border-top: 13px solid #C0CCDA;
    align-items: center;
}

.border{
    border: solid 1px rgb(214, 209, 209);
    margin-top: -5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.buttons{
    color: #fff;
    border: none;
    border-style: none;
}



.txt {
    color: gray;
}

.buttons:hover {
    color: red;
    size: 20px;

}

@media (min-width :411px ) and (min-width: 360px) {
    .imgcard{
        width: 360px;
        height: 200px;
        align-items: center;
    }
}

.ImageCard {
   padding: 20px;
   padding-top: 110px;
   width: 100%;
   height: 250px;
   display: flex;
   justify-content: center;
   /* background-color: #eee; */
}

.ImageContent {
   border: 1px solid rgb(0, 0, 0);
   padding: 20px;
}
.Icons {
   padding: 10px;
   cursor: pointer;
}
.card-content {
   padding: 0px;
   background-color: #eee;
}

@media only screen and (max-width: 600px) {
   .ImageCard {
      margin: 0;
      width: 100%;
   }
}
